html, body{
    font-family: "Open Sans", cursive ;
    font-weight: normal;
}

body{
    background-size:cover;
    height: auto;
    max-width: 100%;
}

#textM{
    text-align: center;
    font-size: 3.5em;
    color: #FFFFFF;
    padding: 1em 1em 0.5em;
    position: relative;
}
@media (max-width: 400px) {
    #textM{
        text-align: center;
        font-size: 3.5em;
        color: #FFFFFF;
        padding: 1em 1em 0.5em;
    }
}

#magicZone{
    position: relative;
    padding: 1em;
    text-align: center;
}

#pass{
    border-radius:1em;
    border:0.5em solid #FFFFFF;
    font-size: 1.2em;
}

input[placeholder]{
    text-align: center;
    text-decoration-color: crimson;
}

#arrow{
    position: absolute;
    align-items: center;
    max-height: 2.8em;
}

#errorZone{
    padding: 0.2em;
    font-size: 1.2em;
    color: red;
    text-align: center;
    vertical-align: bottom;
    font-weight: 500;
    font-style: italic;
}

#success{
    padding: 0.2em;
    font-size: 1.2em;
    text-align: center;
    font-style: italic;
    color: darkgreen;
}
*:focus {
    outline: none;
}